@import "app/styles/mixins";

@mixin defaultWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ContentWrapper {
    @include defaultWrapper;
}

.ContentWrapperPopUpSearchField {
    @include defaultWrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ContentWrapperNotFoundPage {
    @include defaultWrapper;
    text-align: center;
    color: var(--black-light);
    display: flex;
    flex-direction: column;
}

.ContentWrapperFooter {
    @include defaultWrapper;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ContentWrapperTrending {
    @include defaultWrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ContentWrapperCarousel {
    @include defaultWrapper;
    position: relative;
}

.ContentWrapperDetailsBanner {
    @include defaultWrapper;
    display: flex;
    gap: 50px;
    margin-top: 110px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
