@import "app/styles/mixins";

.Carousel {
    margin-bottom: 50px;

    .carouselTitle {
        font-size: 24px;
        color: var(--white);
        margin-bottom: 20px;
        font-weight: normal;
    }

    .carouselItems {
        display: flex;
        gap: 10px;
        overflow-y: hidden;
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;
        @include md {
            gap: 20px;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
    }
}
