@import "../../../app/styles/mixins";

.arrow {
    font-size: 35px;
    color: var(--white);
    position: absolute;
    top: 33%;
    cursor: pointer;
    opacity: 0.9;
    z-index: 1;
    display: none;
    transition: 0.2s;
    @include md {
        display: block;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.carouselLeftNav {
    left: 30px;
}

.carouselRightNav {
    right: 30px;
}
